body { background: #696fac; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-validator-0 { color: #d81a99; font-size: 21px; margin-bottom: 5px; }
.block-validator-1 { color: #71b1bb; font-size: 15px; margin-bottom: 5px; }
.block-invoice-2 { color: #5038ec; font-size: 14px; margin-bottom: 5px; }
.block-search-3 { color: #bf938e; font-size: 13px; margin-bottom: 5px; }
.block-logger-4 { color: #e11b92; font-size: 20px; margin-bottom: 5px; }
.block-sms-5 { color: #2b7098; font-size: 14px; margin-bottom: 5px; }